{% extends "base.html.twig" %}
{% block title %}Meloman Home{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/home.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="container ">
    <div class="row">
        <div class="accordionWrapper col-xs-12">
            <div class="accordionItem open">
                <h2 class="accordionItemHeading">New Publication</h2>
                <div class="accordionItemContent">
                    <form method="POST" action="{{ path('create_publication') }}">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" class="form-control" rows="5" placeholder="What are you thinking?"></textarea>
                        <input type="submit" class="btn btn-default pull-right" value="Share">
                    </form>
                </div>
            </div>
            <div class="accordionItem close">
                <h2 class="accordionItemHeading"><i class="fa fa-spotify"></i> Spotify</h2>
                <div class="accordionItemContent">
                    <div class="row">
                        <div class="spoti-content col-xs-10" id="spoti-content">
                            {{ include('homeView/spotifyPlayer.html.twig') }}
                        </div>
                        <form class="col-xs-12" id="spotiForm" method="POST" action="">
                            <div class="form-inline">
                                <input name="song" id="song" type="text" class="form-control" placeholder="Song" required>
                                <input type="button" class="btn btn-default " value="Find" onclick="SpotifyRequest.search()">
                                <input type="button" id="share-button" class="btn btn-default" value="Share" onclick="SpotifyRequest.share(this)">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="accordionItem close">
                <h2 class="accordionItemHeading"><i class="fa fa-stats"></i> My Statistics</h2>
                <div class="accordionItemContent">
                    {{ include('homeView/userStadistics.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div id="timeline" class="col-xs-12">
            <div class="box-content ">
                {{ include('homeView/publicationsTimeline.html.twig') }}
            </div>
        </div>
    </div>

</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/spotify.js') }}"></script>
    <script src="{{ asset('assets/js/home.js') }}"></script>
    <script src="{{ asset('assets/js/PublicationAjax.js') }}"></script>
{% endblock %}