{% extends "base.html.twig" %}
{% block title %}Meloman Home{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/home.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="container ">
    <div class="row">
        <div id="user-card" class="col-xs-12  box-default">
            <div class="avatar text-center">
                {% set picture = app.session.get('picture') %}
                {% set user = app.session.get('user') %}
                <img src="{{ picture }}"/>
            </div>
            <div class="name">
                <a href="#">{{ app.session.get('name') }}</a>
                <div class="clearfix"></div>
                <span class="role">
                        Meloman
                </span>
            </div>
            {{ include('homeView/userStadistics.html.twig') }}
        </div>


    </div>
    <div class="row">
        <div id="timeline" class="col-xs-12 col-lg-6 ">
            <h1 class="box-header">Timeline</h1>
            <div class="box-content ">
                {{ include('homeView/publicationsTimeline.html.twig') }}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-5">

            <div id="new-publication" class="col-xs-12 ">
                <h1 class="box-header">
                    <i class="fa fa-spotify"></i> Spotify
                </h1>
                <div class="row">
                    <div class="spoti-content col-xs-11">
                        {{ include('homeView/spotifyPlayer.html.twig') }}
                    </div>
                    <form class="col-xs-12" id="spotiForm" method="POST" action="">
                        <label for="song">Song</label>
                        <input name="song" id="song" type="text" class="form-control" placeholder="Song" required>
                        <input type="button" class="btn btn-primary pull-left" value="Find" onclick="SpotifyRequest.search()">
                        <input type="button" id="share-button" class="btn btn-primary pull-right" value="Share" onclick="SpotifyRequest.share(this)">
                    </form>
                </div>
            </div>
            <div id="new-publication" class="col-xs-12">
                <h1 class="box-header">
                    Create Publication
                </h1>
                <form method="POST" action="{{ path('create_publication') }}">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" class="form-control" rows="10"></textarea>
                    <input type="submit" class="btn btn-primary pull-right" value="Share">
                </form>
            </div>

            {#<div class="spoti-content col-lg-12 ">#}
                {#{{ include('homeView/spotifyPlayer.html.twig') }}#}
            {#</div>#}
        </div>

    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/spotify.js') }}"></script>
    <script src="{{ asset('assets/js/home.js') }}"></script>
    {#<script src="{{ asset('assets/js/spotify.js') }}"></script>#}
{% endblock %}