{% extends "base.html.twig" %}
{% block title %}User Profile{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/userProfilePage.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block content %}
    {% set userTastes = {} %}
    {% for u in userP.musicalTaste.getValues %}
        {#Creo array només amb gustos musicals de l'usuari#}
        {%  set userTastes = userTastes|merge([u.name]) %}
    {% endfor %}
<div class="container">
    <div class="col-xs-12 text-center">
        <div class="card hovercard">
            <div class="card-background">
                <img class="card-bkimg" alt="" src="{{ userP.image }}">
            </div>
            <div class="useravatar">
                <img alt="" src="{{ userP.image }}">
            </div>
            <div class="card-info row">
                <span class="card-title col-xs-12"><h3>{{ userP.username}}</h3></span> <br>
                <span class="card-title col-xs-12">{{ userP.aboutMe }}</span><br><br>
                <hr>
                <span class="card-title col-xs-12"> I like:
               {% for taste in userTastes %}
                   {{ taste }}
                   {% if not loop.last %},
                   {% endif %}
               {% else %}
                   No tastes yet
               {% endfor %}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
           {{ include('homeView/userStadistics.html.twig') }}
        </div>
    </div>

</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/userProfile.js') }}"></script>
{% endblock %}